body {
	margin: 0;
}


.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: url("pawel-czerwinski-3k9PGKWt7ik-unsplash.jpg");
	background-size: cover;
}


.stripe {
	height: 20vh;
	background-color: red;
	mix-blend-mode: hue;
	mix-blend-mode: screen;
	mix-blend-mode: difference;
	mix-blend-mode: darken;
	mix-blend-mode: color-dodge;
}

.stripe:nth-child(1n) {
 background-color: blue
}

.stripe:nth-child(2n) {
 background-color: grey;
}
